body{
    margin: 0;
padding: 0;
justify-content: center;
min-height: 100vh;
font-family: 'lost', sans-serif;
background-image: url(../img/Diseño\ sin\ título.png);
background-repeat: no-repeat;
background-size: cover;
background-color: #000000;

}

.main{
    margin-top: 3rem;
    width: 350px;
    height: 500px;
    background: #000000;
    overflow: hidden;
   background-image: url(../img/log.jpg);
   background-repeat: initial;
   background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000000;
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: white;
    font-size: 2.3rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 20px;
    background: whitesmoke;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input{
    width: 60%;
    height:20px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: whitesmoke;
    background: #ca3301;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

button:hover{
    background-color: #ff4000;
}

.login{
    height: 460px;
    background: rgb(12, 9, 9);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
    margin-top: 9rem;
    background-image: url(../img/Çift\ Kombini\ Modelleri\ ve\ Fiyatları.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login label{
    color: #ca3301;
    font-size: 20px;
    transform: scale3d(-6);
    
}

#chk:checked ~ .login{
transform: translateY(-500px);
}

#chk:checked ~ .login label{
    transform: scale(1);
}

#chk:checked ~ .signup label{
    transform: scale(.6);
}
