<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/BLOG.css">
    <title>Document</title>
</head>
<body>
   
   
   
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="INICIO.html"><img src="img/Captura_de_pantalla_2024-05-09_223210-removebg-preview.png" alt=""></a></h1>
        </div>
    </header>
    <div class="container">
        <div class="post">
            <h2>Maquinaria necesaria para un Gimnasio</h2>
           
            <p>GymCompany ofrece una amplia variedad de máquinas de gimnasio y equipamiento tanto para uso doméstico como comercial. Puedes encontrar desde máquinas de polea hasta cintas de correr, bicicletas ciclo indoor, mancuernas, bancos, y más. Algunas de las marcas populares que ofrecen son Titanium Strength, ForceUSA, y Life Fitness</p>
        </div>
        <div class="post">
            <h2>Algunas recomendaciones</h2>
            <p>Además del cardio, incorpora ejercicios de fuerza para tonificar los músculos y acelerar el metabolismo. Algunas opciones son:
                Burpees: Un ejercicio de cuerpo completo que combina una sentadilla, flexiones y un salto.
                Sentadillas: Trabaja los músculos de las piernas y glúteos.
                Dominadas: Excelentes para la espalda y los brazos.
                Saltos al cajón: Mejoran la potencia y la resistencia.
                Alimentación saludable: Recuerda que la pérdida de peso también está relacionada con la alimentación. Mantén una dieta equilibrada y controla las porciones.</p>
        </div>
        <h2>Deja tu opinión:</h2>
        <form>
            <textarea name="comentario" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Enviar">
        </form>
    </div>


</body>
</html>