<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contacto.css">
</head>
<body>
    <div align="center">
   <div align="center" class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form action="/validar" method="post">
            <div align="center" class="logo"><img src="img/Captura_de_pantalla_2024-05-09_223210-removebg-preview.png" height="90px"></div>
            <label for="chk" aria-hidden="true">Ingresar</label>
            <input type="text" name="txt" placeholder="Usuario" required="" id="txt">
            <input type="password" name="pass" placeholder="Contraseña" required="" id="pass">
            <input type="submit" value="Ingresar" class="btn">
        </form>
   
   </div>
</div>
</body>
</html>